@import "tailwindcss";
@import "./variables.css";
@font-face {
  font-family: "Black Chancery";
  src: url("../assets/fonts/BLKCHCRY.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.errorFont {
  font-family: "Black Chancery", cursive;
}

.list {
  @apply overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-black/50 [&::-webkit-scrollbar-thumb]:bg-(--color-title) absolute left-10 xl:left-20 top-60 xl:top-20 h-4/6 xl:h-5/6 w-3/10 xl:w-2/8 bg-black/60 rounded-lg outline-2 outline-amber-300/50 p-2;
}
